var list = $('#list');

list.append("<li><a data-method='post' data-remote='true' rel='nofollow' class='btn btn-info logout-b' href='/conversations?user_id=<%=@contact.id%>'> <%=@contact.email%>  </a></li>");

